body {
    background-color: #F0F0F0;
    font-size: 11pt;
    color: #202020;
    width: 960px;
    min-width: 960px;
    margin-left: auto;
    margin-right: auto;
}


table {
    font-size: 9pt;
}

